.login-link {
    position: absolute;
    right: $padding-small-horizontal;
}

.login-wrapper {
    background-image:url('../img/bg.png');
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;

    .card {
        border-radius: 0;

        .logo {
            width: 80px;
        }

        h2 {
            color: $text-secondary;
        }

        .form-control {
            border: 0;
            outline: 0;
            background: transparent;
            border-bottom: 1px solid black;
            border-radius: 0;
        
            &:focus {
                border-bottom: 1px solid $brand-success;
            }
        }

        .btn-success {
            border-radius: 0;
        }
    }
}

.fill {
    height: 100%;
}