.navbar-custom {
    background-color: #434B58;

    .navbar-brand {
      color: rgba(255, 255, 255, 0.8);
    }
  }

  .navbar-custom-second {
    background-color: #4A5463;
    height: 80px;
    box-shadow: 1px 5px 10px rgba(17, 17, 17, 0.6);

    .navbar-brand {
      color: rgba(255, 255, 255, 0.8);
    }

    .navbar-nav {
      height: 80px;
      line-height: 70px;

      .nav-link {
        color: rgba(255, 255, 255, 0.5);
      }
    }

    .btn-round {
      width: 60px;
      height: 60px;
      border-radius: 100%;
      box-shadow: 1px 5px 10px rgba(17, 17, 17, 0.6);
    }

    .nav-item {
      &.active {
        color: #ffffff;

        border-bottom: 5px solid #ffffff;
      }
        
      &:hover {
        color: #ffffff;
      }
    }
  }
  