// $colors: red, orange, yellow, green, blue, purple;
// $repeat: 20;  // How often you want the pattern to repeat.
// // Warning: a higher number outputs more CSS.

// $key: random( length($colors) );
// $nth: nth( $colors, $key );

// @for $i from 1 through 3 {
//     @debug $i;
//     .profile-pic {
//         &:nth-of-type(#{$i}){
//             // background: nth($colors, random(length($colors)));
//         }
//     }
// }

.table {
    .thead-default {
        th {
            @include media-breakpoint-up(md){
                &:nth-of-type(2) {
                    width: 80px;
                }

                &:last-of-type {
                    width: 95px;
                }
            }
        }
    }

    td {
        vertical-align: middle;
    }

    .profile-pic {
        width: 50px;
        height: 50px;
        border-radius: 100%;

        .initial {
            height: 100%;
            color: #fff;
        }
    }
}