{% extends '::base.html.twig' %}
{% block fos_user_content %}
    <h3>update form</h3>
    {% for message in app.flashes('notice') %}
        <div class="flash-notice">
            {{ message }}
        </div>
    {% endfor %}

    {{ form_start(updateForm) }}
    {% for error in errors %}
        <li>{{ error.message }}</li>
    {% endfor %}
    {{ form_widget(updateForm) }}
    {{ form_end(updateForm) }}

    <a href="{{ path('candidates_list') }}">terug</a>
{% endblock fos_user_content %}