{% extends '::base.html.twig' %}
{% block fos_user_content %}
<nav class="navbar navbar-expand-md navbar-custom">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand ml-5" href="#">Recruit app</a>
</nav>

<nav class="navbar navbar-expand-md navbar-custom-second py-0">
    <a class="navbar-brand dropdown-toggle ml-5 mr-0" href="#" id="dropdownSwitch" data-toggle="dropdown"
       aria-haspopup="true" aria-expanded="false">Kandidaten</a>
    <div class="dropdown-menu" aria-labelledby="dropdownSwitch">
        <a class="dropdown-item" href="#">Bedrijven</a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04"
            aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample04">
        <div class="navbar-nav mx-auto">
            <a class="nav-item nav-link active mr-5" href="#">Alle kandidaten <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="#">Mijn kandidaten</a>
        </div>

        <button class="btn btn-success btn-round mt-5 my-xs-0" data-toggle="modal" id="addModalsButton" data-target="#addCandidatesModal"><i
                    class="fa fa-plus fa-lg" aria-hidden="true"></i></button>
    </div>
</nav>
<div class="container">
    Hi {{ app.user.username }}
    <a href="{{ path('candidates_transfer') }}"> kandidaten import & export</a>
    <hr/>
    <a href="{{ path('candidate_create') }}">Kandidaat toevoegen</a>
    <hr/>
    {# params #}
    {% set tableNames = [
    {'name': 'id', 'value':  'id'},
    {'name': 'naam', 'value':  'name'},
    {'name': 'skills', 'value':  'skills'},
    {'name': 'email', 'value':  'email'},
    {'name': 'telefoon', 'value':  'mobile'},
    {'name': 'stad', 'value':  'city'},
    ] %}

    {# Full table #}
    {# {% set tableNames = [
        {'name': 'id', 'value':  'id'},
        {'name': 'naam', 'value':  'name'},
        {'name': 'vacature', 'value':  'job'},
        {'name': 'benaderd', 'value':  'approached'},
        {'name': 'niveau', 'value':  'level'},
        {'name': 'skills', 'value':  'skills'},
        {'name': 'email', 'value':  'email'},
        {'name': 'telefoon', 'value':  'mobile'},
        {'name': 'stad', 'value':  'city'},
        {'name': 'provincie', 'value':  'province'},
        {'name': 'land', 'value':  'country'},
        {'name': 'linkedin', 'value':  'linkedinUrl'},
        {'name': 'bedrijf', 'value':  'company'},
        {'name': 'notitie', 'value':  'note'},
        {'name': 'datum toegevoegd', 'value':  'dateAdded'}
        ] %} #}

    <form method="get" action="{{ app.request.uri }}">
        <input name="s" type="text" value="{{ app.request.query.get('s') }}" placeholder="">
        {% set c = app.request.query.get('c') %}
        <select name="c">
            <option value="">Kies een categorie</option>
            <option value="name" {{ c == 'name' ? 'selected': '' }}>naam</option>
            <option value="email" {{ c == 'email' ? 'selected': '' }}>email</option>
            <option value="city" {{ c == 'city' ? 'selected': '' }}>stad</option>
            <option value="province" {{ c == 'province' ? 'selected': '' }}>provincie</option>
            <option value="country" {{ c == 'country' ? 'selected': '' }}>land</option>
            <option value="job" {{ c == 'job' ? 'selected': '' }}>functie</option>
            <option value="skills" {{ c == 'skills' ? 'selected': '' }}>skills</option>
            <option value="note" {{ c == 'note' ? 'selected': '' }}>naam</option>
        </select>
        <input type="submit" value="zoeken">
        {% if app.request.query.get('sort') is not empty %}
            <input type="hidden" name="sort" value="{{ app.request.get('sort') }}"/>
        {% endif %}
        {% if app.request.query.get('cat') is not empty %}
            <input type="hidden" name="cat" value="{{ app.request.get('cat') }}"/>
        {% endif %}
    </form>
    <hr/>
    <p>gesorteerd op:
        {% for tableName in tableNames %}
            {% if app.request.get('cat') in [tableName.value] %}
                <span>{{ tableName.name }} </span>
            {% endif %}
        {% endfor %}
    </p>
    <hr/>
    <table class="table">
        <thead class="thead-default">
        <th>&nbsp;</th>
        {% for tableName in tableNames %}
            <th>{{ tableName.name }}
                {% set sort = 'desc' %}
                {% if app.request.get('cat') in [tableName.value] %}
                    {% if app.request.get('sort') is empty %}
                        {% set sort = 'desc' %}
                    {% else %}
                        {% set sort = app.request.get('sort') %}
                    {% endif %}
                {% endif %}
                <a href="{{ path(app.request.attributes.get('_route'),
                app.request.query.all|merge({'sort':  sort != 'desc' ? 'desc': 'asc', 'cat': tableName.value })) }}">{{ sort }}</a>
            </th>
        {% endfor %}
        </thead>
        {% for candidate in candidates %}

         {# Google User images and pdf #}

        {#{% if candidate.googleForm[0].pathImage  is defined and candidate.googleForm[0].pathImage is not empty %}#}
        {#<img src="{{ asset('uploads/GoogleForms/' ~ candidate.id ~ '/' ~ candidate.googleForm[0].pathImage) }}"#}
             {#width="120px" height="100px">#}
        {#{% endif %}#}
        {#{% if candidate.googleForm[0].pathPdf  is defined and candidate.googleForm[0].pathPdf is not empty %}#}
            {#<a href="{{ asset('uploads/GoogleForms/' ~ candidate.id ~ '/' ~ candidate.googleForm[0].pathPdf) }}"#}
               {#target="_blank">krijg pdf</a>#}
        {#{% endif %}#}

        <tr>
            <td>
                <div class="profile-pic">
                        <span class="initial d-flex justify-content-center align-items-center">
                            {{ candidate.name|first|capitalize }}
                        </span>
                </div>
            </td>
            <td>{{ candidate.id }}</td>
            <td>{{ candidate.name }}</td>
            {# <td>{{ candidate.job }}</td> #}
            {# <td>{{ candidate.approached }}</td> #}
            {# <td>{{ candidate.level }}</td> #}
            <td>{{ candidate.skills }}</td>
            <td>{{ candidate.email }}</td>
            <td>{{ candidate.mobile }}</td>
            <td>{{ candidate.city }}</td>
            {# <td>{{ candidate.province }}</td> #}
            {# <td>{{ candidate.country }}</td> #}
            {# <td> #}
            {# <button><a target="_blank" href="{{ candidate.linkedinUrl }}">li</a></button> #}
            {# </td> #}
            {# <td>{{ candidate.addedCompany }}</td> #}
            {# <td>{{ candidate.note | slice(0, 20) }} </td> #}
            {# <td>{{ candidate.dateAdded | date('D:M:Y H:i:s') }}</td> #}
            <td>
                <button><a href="{{ path('candidate_update',  { 'id':  candidate.id   }) }}">veranderen</a></button>
            </td>
            <td>
                <button class="candidate-delete" content="{{ candidate.id }}">Delete</button>
            </td>
        </tr>
        {% endfor %}
    </table>

    <div class="pagerfanta">
        {{ pagerfanta(pagination) }}
    </div>

    <div class="modal fade" id="addCandidatesModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#addClient" role="tab">Handmatig
                                kandidaat toevoegen</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="getImportTab" data-toggle="tab" href="#importClient" role="tab">Kandidaten
                                importeren</a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane active" id="addClient" role="tabpanel">
                             {% include '@Candidates/modals/candidates_create_modal.html.twig' %}
                            {#<form>#}
                                {#<div class="form-group">#}
                                    {#<label for="exampleInputEmail1">Naam</label>#}
                                    {#<input type="email" class="form-control" id="exampleInputEmail1"#}
                                           {#aria-describedby="emailHelp" placeholder="Enter email">#}
                                    {#<small id="emailHelp" class="form-text text-muted">We'll never share your email with#}
                                        {#anyone else.#}
                                    {#</small>#}
                                {#</div>#}
                                {#<div class="form-group">#}
                                    {#<label for="exampleInputPassword1">Password</label>#}
                                    {#<input type="password" class="form-control" id="exampleInputPassword1"#}
                                           {#placeholder="Password">#}
                                {#</div>#}
                                {#<div class="form-group">#}
                                    {#<label for="exampleSelect1">Example select</label>#}
                                    {#<select class="form-control" id="exampleSelect1">#}
                                        {#<option>1</option>#}
                                        {#<option>2</option>#}
                                        {#<option>3</option>#}
                                        {#<option>4</option>#}
                                        {#<option>5</option>#}
                                    {#</select>#}
                                {#</div>#}
                                {#<button type="submit" class="btn btn-primary">Submit</button>#}
                            {#</form>#}
                        </div>
                        <div class="tab-pane" id="importClient" role="tabpanel">
                           {#laad met jquery hier form in#}
                            {#<form>#}
                                {#<div class="form-group">#}
                                    {#<label for="exampleInputFile">File input</label>#}
                                    {#<input type="file" class="form-control-file" id="exampleInputFile"#}
                                           {#aria-describedby="fileHelp">#}
                                    {#<small id="fileHelp" class="form-text text-muted">This is some placeholder#}
                                        {#block-level help text for the above input. It's a bit lighter and easily wraps#}
                                        {#to a new line.#}
                                    {#</small>#}
                                {#</div>#}
                            {#</form>#}
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock fos_user_content %}
