{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
    <div class="container-fluid fill login-wrapper">
        <div class="row fill d-flex justify-content-center align-items-center">
            <div class="col-md-4"> 
                <div class="card p-3">
                    <img src="{{ asset('img/logo.png') }}" class="float-left logo m-3" alt="...">
                    <div class="card-block m-3">
                        <div class="text-center">
                            <h2 class="card-title">Log in</h2>
                            <p class="text-muted mb-5">Hello there! Sign in and start managing your candidates</p>
                        </div>
                        
                        <form action="{{ path("fos_user_security_check") }}" method="post">
                            
                            {% if csrf_token %}
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                            {% endif %}
                    
                            <div class="form-group">
                                <label for="username">{{ 'security.login.username'|trans }}</label>
                                <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" required="required" />
                            </div>

                            <div class="form-group">
                                <label for="password">{{ 'security.login.password'|trans }}</label>
                                <input type="password" class="form-control" id="password" name="_password" required="required" />
                            </div>
                            <div class="form-check">
                                <label class="form-check-label" for="remember_me">
                                    <input type="checkbox" class="form-check-input" id="remember_me" name="_remember_me" value="on" />
                                    {{'security.login.remember_me'|trans }}
                                </label>
                            </div>
                            
                            <div class="text-center">
                                <input type="submit"  class="btn btn-success mt-3 mb-4" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>