//fontawesome
@import "components/font-awesome";
// @import "../components/bootstrap/scss/bootstrap";

// Core variables and mixins
@import "../components/bootstrap/scss/functions";
@import "../components/bootstrap/scss/mixins";
@import "../components/bootstrap/scss/variables";
@import "components/variables";

//Custom mixins
// @import "mixins/mixins";

// Reset
@import "../components/bootstrap/scss/print";

// Core CSS
@import "../components/bootstrap/scss/reboot";
@import "../components/bootstrap/scss/type";
@import "../components/bootstrap/scss/images";
@import "../components/bootstrap/scss/code";
@import "../components/bootstrap/scss/grid";
@import "../components/bootstrap/scss/tables";
@import "../components/bootstrap/scss/forms";
@import "../components/bootstrap/scss/buttons";

//Example how to override bootstrap styling
// @import "components/buttons";

// Components
 @import "../components/bootstrap/scss/transitions";
@import "../components/bootstrap/scss/dropdown";
@import "../components/bootstrap/scss/button-group";
@import "../components/bootstrap/scss/input-group";
@import "../components/bootstrap/scss/custom-forms";
@import "../components/bootstrap/scss/nav";
@import "../components/bootstrap/scss/navbar";
@import "../components/bootstrap/scss/card";
@import "../components/bootstrap/scss/breadcrumb";
@import "../components/bootstrap/scss/pagination";
@import "../components/bootstrap/scss/badge";
@import "../components/bootstrap/scss/jumbotron";
@import "../components/bootstrap/scss/alert";
@import "../components/bootstrap/scss/progress";
@import "../components/bootstrap/scss/media";
@import "../components/bootstrap/scss/list-group";
@import "../components/bootstrap/scss/close";

// Components w/ JavaScript
@import "../components/bootstrap/scss/modal";
@import "../components/bootstrap/scss/tooltip";
@import "../components/bootstrap/scss/popover";
@import "../components/bootstrap/scss/carousel";

// Utility classes
@import "../components/bootstrap/scss/utilities";

// Shame CSS/../components/bootstrap overruling
@import "components/fonts";

//custom styling
@import "components/test";
@import "components/login";
@import "components/navbar";
@import "components/table";

// Main styles
* {
    -webkit-font-smoothing: antialiased;

    &:focus {
        outline: 0 !important;
        box-shadow: none;
    }
}

html, body {
    height: 100%;
}