<div id="exportCandidatesContainer">
    <button id="exportCandidates">krijg excel export</button>
</div>
<hr/>
{{ form_start(transferForm) }}
    {{ form_widget(transferForm) }}
{{ form_end(transferForm) }}
<hr/>
<p>notice: import excel moet formaat hebben van de export (klik hierboven)</p>
{% if uploadedFiles is not empty %}
    <table>
        <t>
            <th>id</th>
            <th>naam</th>
            <th>upload datum</th>
            <th>file goed gegaan</th>
        </t>
        {% for uploadedFile in uploadedFiles %}
            <tr class="{{ uploadedFile.deleted == 1 ? 'reverted': '' }}">
                <td>{{ uploadedFile.id }}</td>
                <td>{{ uploadedFile.name }}</td>
                <td>{{ uploadedFile.dateAdded | date('D:M:Y H:i:s') }}</td>
                <td>{{ uploadedFile.fileUsed }}</td>
                <td>
                    {% if not uploadedFile.deleted %}
                        <button class="candidate-file-revert" content="{{ uploadedFile.id }}">Terug zetten</button>
                    {% else %}
                        <p>terug gezet</p>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endif %}