{#dit form is variable (heeft id nodig) dus wordt opgehaald met ajax. Niet in een html zetten..#}

<p>Kandidaat updaten</p>
{{ form_start(updateForm) }}
    {{ form_widget(updateForm) }}
{{ form_end(updateForm) }}